.login__wrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
   
}
.login{
    background-color: whitesmoke;
    padding: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.login__wrapper img{
    width: 250px;
}
.gmail__login {
    background-color: #4385f5;
    border: 0;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    outline: 0;
    width: 250px;
    cursor: pointer;
}